{% extends 'base.html' %}

{% block content %}
<h2>{{ post.title }}</h2>
<h3 class="small">Posted by: {{ post.author }} | Published on: {{ post.pub_date }}</h3>
<p>{{ post.body }}</p>


<dl class="row">
    <h4>Post a comment:</h4>
    {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment has been posted!
        </div>
    {% else %}
    <form action="" method="post" class="row g-3">
        {% csrf_token %}
        
        {{ form.as_ul}}
        <script>
            ClassicEditor
                .create( document.querySelector( '#editor' ) )
                .catch( error => {
                    console.error( error );
                } );
        </script>

        <div class="col-15">
                <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    {% endif %}
</dl>


<dl class="row">
<h4>Comments:</h4>

    {% for comment in comments %}
    <p><strong>{{ comment.author }}</strong> <span>{{ comment.pub_date }}</span></p><p>{{ comment.body|safe }}</p>
    {% endfor %}

</dl>
{% endblock %}