{% extends "LandingPage\index.html" %}
    {% block main %}
        <main>
            <div class = "login">
                {% if form.errors %}
                    <p>There is something wrong with what you entered!!</p>
                {% endif %}

                {% if next %}
                    <p>Hey, you can't access that page</p>
                {% endif %}
                {% if user.is_authenticated %}
                    <h5> You are logged in as {{ user.username }} </h5>
                    <button type="button" = value="logout" class="btn btn-primary" >Logout</button>

                {% else %}
                <form method = "post" action = "{% url 'login' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address {{ form.username }}</label>
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password {{ form.password }}</label>
                    </div>
                    <div class="mb-3 form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <button type="submit" = value = "login" class="btn btn-primary">Submit</button>
                  </form>
                {% endif %}
            </div>
        </main>
    {% endblock %}