{% extends "LandingPage\index.html" %}
    {% block main %}
        <main>
            <form method = "post" action = "{% url 'register' %}">
                {% csrf_token %}
                
                {% if form.errors %}
                    <p>There is something wrong with what you entered!!</p>
                {% endif %}

                {{ form }}
                    <p><input type="submit" = value="register"></p>
                    <input type="hidden" name="next" value="{{ next }}">
            </form>
        </main>
    {% endblock %}